<div class="list">
  <h2>Sequel list</h2>
  <button class="icon-btn icon-btn_red" (click)="changeOn('sequel')">
    all
  </button>
  <br>
  <button class="icon-btn icon-btn_red" (click)="changeOn('sequel-full')">
    full
  </button>
  <br>
  <button class="icon-btn icon-btn_red" (click)="changeOn('sequel-not-full')">
    not-full
  </button>
  <div class="votes">
    <div class="votes__item">
      <div><b>idx</b></div>
      <div><b>id</b></div>
      <div><b>name</b></div>
      <div><b>vote</b></div>
      <div><b>seq</b></div>
      <div><b>ser</b></div>
      <div><b>del</b></div>
    </div>
    <div *ngFor="let item of listVotes(); index as i" class="votes__item">
      <div>
        {{i+1}}
      </div>
      <div>
        <a id={{item.id}} href="http://kinopoisk.ru{{item.link}}" rel="noopener noreferrer" target="_blank">
          {{item.id}}
        </a>
      </div>
      <div>
        {{item.nameRus}}<br />{{item.nameEng}}
      </div>
      <div>
        {{item.vote}}
      </div>
      <div>
        {{item.sequel.sequelParent}}
        <ul class="sequel-list">
          <li *ngFor="let item of item.sequel.items" [class.watched]="itWatched(item.id)">
            {{item.serial}}. <a href="http://kinopoisk.ru/film/{{item.id}}/">{{item.id}}</a>
          </li>
        </ul>
      </div>
      <div>
        <a [routerLink]="['series']" fragment="{{item.id}}">
          <fa-icon class="icon-btn_green" *ngIf="item.serial" [icon]="faHistory"></fa-icon>
        </a>
      </div>
      <div>
        <button class="icon-btn icon-btn_red" (click)="delIt(item.id)">
          <fa-icon [icon]="faTimes" color=""></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>