/* You can add global styles to this file, and also import other style files */
html, body {
  position: relative;
  // height: 100%;
  background: rgba(0,32,63,1);
  background: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
  color: #111111;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #2B32B2;
}
a:hover, a:active {
  color: #1488CC;
}

.icon-btn {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.icon-btn_red {
  svg {
    color: rgb(255, 65, 108);
  }
}
.icon-btn_green {
  svg {
    color: rgb(0, 176, 155);
  }
}


.form-wrap {}
.form-item {
  label {
    display: flex;
    align-content: space-between;
    align-items: center;
    margin: 15px 0;
    & > div, & > input[type="text"] {
      flex-grow: 1;
      flex-basis: 50%;
    }
    & > input[type="text"] {
      padding: 7px 5px;
    }
  }
  button, input[type="button"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(147deg, rgb(195, 55, 100), rgb(29, 38, 113));
    border: 0;
    outline: 0;
    border-radius: 5px;
  }
}